.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.935547;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1a{margin-left:-16.072000px;}
._0{margin-left:-9.768000px;}
._3{margin-left:-7.752000px;}
._8{margin-left:-6.328000px;}
._1{margin-left:-4.752000px;}
._4{margin-left:-3.296000px;}
._2{margin-left:-1.296000px;}
._f{width:1.566750px;}
._9{width:3.039006px;}
._5{width:4.956680px;}
._b{width:5.965927px;}
._e{width:7.546817px;}
._10{width:8.889804px;}
._11{width:10.317773px;}
._16{width:11.341496px;}
._a{width:12.443949px;}
._12{width:13.445373px;}
._17{width:14.503929px;}
._d{width:15.516564px;}
._c{width:16.560496px;}
._13{width:17.599058px;}
._18{width:23.814608px;}
._19{width:25.362577px;}
._7{width:27.528108px;}
._6{width:28.606045px;}
._1c{width:33.073169px;}
._1b{width:34.321169px;}
._15{width:109.171997px;}
._14{width:115.853763px;}
.fc1{color:rgb(183,30,66);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:32.000000px;}
.fs6{font-size:34.000000px;}
.fs7{font-size:40.000000px;}
.fs8{font-size:42.000000px;}
.fs4{font-size:52.000000px;}
.fsb{font-size:60.000000px;}
.fsa{font-size:64.000000px;}
.fsc{font-size:68.000000px;}
.fs1{font-size:72.000000px;}
.fs9{font-size:76.000000px;}
.fs3{font-size:80.000000px;}
.fs2{font-size:128.000000px;}
.fs0{font-size:264.000000px;}
.y0{bottom:0.000000px;}
.y19{bottom:65.885483px;}
.y54{bottom:72.193375px;}
.y18{bottom:81.485458px;}
.y17{bottom:97.085434px;}
.y53{bottom:97.273361px;}
.y61{bottom:97.729538px;}
.y70{bottom:101.608994px;}
.y35{bottom:104.355423px;}
.y7d{bottom:106.932541px;}
.y34{bottom:115.875443px;}
.y60{bottom:118.849564px;}
.y6f{bottom:119.608994px;}
.y52{bottom:122.353348px;}
.y16{bottom:122.685410px;}
.y48{bottom:126.300156px;}
.y24{bottom:127.085403px;}
.y7c{bottom:127.332535px;}
.y8c{bottom:129.761948px;}
.y96{bottom:131.485413px;}
.y33{bottom:137.395432px;}
.y6e{bottom:137.608978px;}
.y15{bottom:138.285416px;}
.y47{bottom:138.300156px;}
.y5f{bottom:139.969559px;}
.y23{bottom:142.685410px;}
.y8b{bottom:142.961945px;}
.y95{bottom:147.085419px;}
.y51{bottom:147.433365px;}
.y7b{bottom:147.732529px;}
.y32{bottom:148.915436px;}
.y46{bottom:150.300156px;}
.y6d{bottom:155.608978px;}
.y8a{bottom:156.161942px;}
.y22{bottom:158.285416px;}
.y31{bottom:160.435440px;}
.y5e{bottom:161.089554px;}
.y94{bottom:162.685425px;}
.y14{bottom:163.885422px;}
.y7a{bottom:168.132523px;}
.y89{bottom:169.361938px;}
.y45{bottom:172.300156px;}
.y50{bottom:172.513367px;}
.y6c{bottom:173.608978px;}
.y37{bottom:173.885422px;}
.y93{bottom:178.285431px;}
.y13{bottom:179.485428px;}
.y30{bottom:181.955444px;}
.y5d{bottom:182.209549px;}
.y21{bottom:183.885422px;}
.y44{bottom:184.300156px;}
.y79{bottom:188.532516px;}
.y6b{bottom:191.608978px;}
.y2f{bottom:193.475449px;}
.y92{bottom:193.885437px;}
.y12{bottom:195.085434px;}
.y88{bottom:195.761932px;}
.y43{bottom:196.300156px;}
.y20{bottom:199.485428px;}
.y5c{bottom:203.329544px;}
.y4f{bottom:207.593369px;}
.y78{bottom:208.932510px;}
.y87{bottom:208.961929px;}
.y91{bottom:209.485443px;}
.y6a{bottom:209.608978px;}
.y2e{bottom:214.995453px;}
.y1f{bottom:215.085434px;}
.y42{bottom:218.300156px;}
.y11{bottom:220.685440px;}
.y86{bottom:222.161926px;}
.y5b{bottom:224.449539px;}
.y69{bottom:227.608978px;}
.y77{bottom:229.332504px;}
.y41{bottom:230.300156px;}
.y1e{bottom:230.685440px;}
.y4e{bottom:232.673370px;}
.y3{bottom:234.487700px;}
.y10{bottom:236.285446px;}
.y2d{bottom:236.515457px;}
.y90{bottom:240.685455px;}
.y40{bottom:242.300156px;}
.y68{bottom:245.608978px;}
.y1d{bottom:246.285446px;}
.y2c{bottom:248.035461px;}
.y85{bottom:248.561920px;}
.y76{bottom:249.732513px;}
.yf{bottom:251.885460px;}
.y5a{bottom:255.569550px;}
.y8f{bottom:256.285461px;}
.y4d{bottom:257.753372px;}
.y97{bottom:258.758759px;}
.y84{bottom:261.761925px;}
.y1c{bottom:261.885460px;}
.y36{bottom:261.973457px;}
.y3f{bottom:264.300163px;}
.y2b{bottom:269.555458px;}
.y8e{bottom:271.885460px;}
.y67{bottom:273.608978px;}
.y83{bottom:274.961922px;}
.y3e{bottom:276.300163px;}
.y59{bottom:276.689552px;}
.ye{bottom:277.485458px;}
.y75{bottom:280.132515px;}
.y4c{bottom:282.833374px;}
.y8d{bottom:287.485458px;}
.y3d{bottom:288.300163px;}
.y2a{bottom:291.075455px;}
.y66{bottom:291.608978px;}
.y2{bottom:291.737328px;}
.yd{bottom:293.085457px;}
.y7{bottom:297.564842px;}
.y58{bottom:297.809555px;}
.y74{bottom:300.532516px;}
.y82{bottom:301.361923px;}
.y1b{bottom:303.085457px;}
.y4b{bottom:307.913376px;}
.yc{bottom:308.685455px;}
.y65{bottom:309.608978px;}
.y3c{bottom:310.300163px;}
.y29{bottom:312.595451px;}
.y81{bottom:314.561924px;}
.y1a{bottom:318.685452px;}
.y57{bottom:318.929554px;}
.y73{bottom:320.932510px;}
.y3b{bottom:322.300163px;}
.y28{bottom:324.115456px;}
.y6{bottom:326.364838px;}
.y64{bottom:327.608978px;}
.y80{bottom:327.761925px;}
.y4a{bottom:332.993374px;}
.yb{bottom:334.285450px;}
.y3a{bottom:334.300163px;}
.y56{bottom:340.049557px;}
.y72{bottom:341.332508px;}
.y63{bottom:345.608978px;}
.y27{bottom:345.635460px;}
.ya{bottom:349.885452px;}
.y7f{bottom:354.161926px;}
.y5{bottom:355.164839px;}
.y39{bottom:356.300167px;}
.y26{bottom:357.155460px;}
.y49{bottom:358.073376px;}
.y55{bottom:361.169559px;}
.y71{bottom:361.732505px;}
.y1{bottom:363.017326px;}
.y62{bottom:363.608978px;}
.y9{bottom:365.485454px;}
.y7e{bottom:367.361928px;}
.y38{bottom:368.300166px;}
.y25{bottom:368.675461px;}
.y8{bottom:410.489143px;}
.y4{bottom:445.049143px;}
.h6{height:23.312500px;}
.h7{height:24.752930px;}
.h9{height:29.140625px;}
.ha{height:30.577148px;}
.h5{height:37.882812px;}
.hd{height:43.710938px;}
.hc{height:46.625000px;}
.he{height:49.539062px;}
.h2{height:52.453125px;}
.hb{height:55.367188px;}
.h4{height:58.281250px;}
.h8{height:93.187500px;}
.h3{height:93.250000px;}
.h1{height:192.328125px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2{left:121.496399px;}
.x3{left:157.496399px;}
.x1{left:197.575104px;}
.x4{left:401.116455px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1a{margin-left:-21.429333pt;}
._0{margin-left:-13.024000pt;}
._3{margin-left:-10.336000pt;}
._8{margin-left:-8.437333pt;}
._1{margin-left:-6.336000pt;}
._4{margin-left:-4.394667pt;}
._2{margin-left:-1.728000pt;}
._f{width:2.089000pt;}
._9{width:4.052008pt;}
._5{width:6.608906pt;}
._b{width:7.954570pt;}
._e{width:10.062423pt;}
._10{width:11.853071pt;}
._11{width:13.757031pt;}
._16{width:15.121995pt;}
._a{width:16.591933pt;}
._12{width:17.927163pt;}
._17{width:19.338572pt;}
._d{width:20.688752pt;}
._c{width:22.080661pt;}
._13{width:23.465410pt;}
._18{width:31.752810pt;}
._19{width:33.816770pt;}
._7{width:36.704144pt;}
._6{width:38.141394pt;}
._1c{width:44.097558pt;}
._1b{width:45.761558pt;}
._15{width:145.562663pt;}
._14{width:154.471683pt;}
.fs5{font-size:42.666667pt;}
.fs6{font-size:45.333333pt;}
.fs7{font-size:53.333333pt;}
.fs8{font-size:56.000000pt;}
.fs4{font-size:69.333333pt;}
.fsb{font-size:80.000000pt;}
.fsa{font-size:85.333333pt;}
.fsc{font-size:90.666667pt;}
.fs1{font-size:96.000000pt;}
.fs9{font-size:101.333333pt;}
.fs3{font-size:106.666667pt;}
.fs2{font-size:170.666667pt;}
.fs0{font-size:352.000000pt;}
.y0{bottom:0.000000pt;}
.y19{bottom:87.847310pt;}
.y54{bottom:96.257833pt;}
.y18{bottom:108.647278pt;}
.y17{bottom:129.447245pt;}
.y53{bottom:129.697815pt;}
.y61{bottom:130.306051pt;}
.y70{bottom:135.478658pt;}
.y35{bottom:139.140564pt;}
.y7d{bottom:142.576721pt;}
.y34{bottom:154.500590pt;}
.y60{bottom:158.466085pt;}
.y6f{bottom:159.478658pt;}
.y52{bottom:163.137797pt;}
.y16{bottom:163.580546pt;}
.y48{bottom:168.400208pt;}
.y24{bottom:169.447205pt;}
.y7c{bottom:169.776713pt;}
.y8c{bottom:173.015930pt;}
.y96{bottom:175.313883pt;}
.y33{bottom:183.193909pt;}
.y6e{bottom:183.478638pt;}
.y15{bottom:184.380554pt;}
.y47{bottom:184.400208pt;}
.y5f{bottom:186.626078pt;}
.y23{bottom:190.247213pt;}
.y8b{bottom:190.615926pt;}
.y95{bottom:196.113892pt;}
.y51{bottom:196.577820pt;}
.y7b{bottom:196.976705pt;}
.y32{bottom:198.553914pt;}
.y46{bottom:200.400208pt;}
.y6d{bottom:207.478638pt;}
.y8a{bottom:208.215922pt;}
.y22{bottom:211.047221pt;}
.y31{bottom:213.913920pt;}
.y5e{bottom:214.786072pt;}
.y94{bottom:216.913900pt;}
.y14{bottom:218.513896pt;}
.y7a{bottom:224.176697pt;}
.y89{bottom:225.815918pt;}
.y45{bottom:229.733541pt;}
.y50{bottom:230.017822pt;}
.y6c{bottom:231.478638pt;}
.y37{bottom:231.847229pt;}
.y93{bottom:237.713908pt;}
.y13{bottom:239.313904pt;}
.y30{bottom:242.607259pt;}
.y5d{bottom:242.946065pt;}
.y21{bottom:245.180562pt;}
.y44{bottom:245.733541pt;}
.y79{bottom:251.376689pt;}
.y6b{bottom:255.478638pt;}
.y2f{bottom:257.967265pt;}
.y92{bottom:258.513916pt;}
.y12{bottom:260.113912pt;}
.y88{bottom:261.015910pt;}
.y43{bottom:261.733541pt;}
.y20{bottom:265.980570pt;}
.y5c{bottom:271.106059pt;}
.y4f{bottom:276.791158pt;}
.y78{bottom:278.576681pt;}
.y87{bottom:278.615906pt;}
.y91{bottom:279.313924pt;}
.y6a{bottom:279.478638pt;}
.y2e{bottom:286.660604pt;}
.y1f{bottom:286.780579pt;}
.y42{bottom:291.066874pt;}
.y11{bottom:294.247253pt;}
.y86{bottom:296.215902pt;}
.y5b{bottom:299.266052pt;}
.y69{bottom:303.478638pt;}
.y77{bottom:305.776672pt;}
.y41{bottom:307.066874pt;}
.y1e{bottom:307.580587pt;}
.y4e{bottom:310.231160pt;}
.y3{bottom:312.650266pt;}
.y10{bottom:315.047262pt;}
.y2d{bottom:315.353943pt;}
.y90{bottom:320.913940pt;}
.y40{bottom:323.066874pt;}
.y68{bottom:327.478638pt;}
.y1d{bottom:328.380595pt;}
.y2c{bottom:330.713949pt;}
.y85{bottom:331.415894pt;}
.y76{bottom:332.976685pt;}
.yf{bottom:335.847280pt;}
.y5a{bottom:340.759399pt;}
.y8f{bottom:341.713949pt;}
.y4d{bottom:343.671163pt;}
.y97{bottom:345.011678pt;}
.y84{bottom:349.015900pt;}
.y1c{bottom:349.180613pt;}
.y36{bottom:349.297943pt;}
.y3f{bottom:352.400218pt;}
.y2b{bottom:359.407277pt;}
.y8e{bottom:362.513947pt;}
.y67{bottom:364.811971pt;}
.y83{bottom:366.615896pt;}
.y3e{bottom:368.400218pt;}
.y59{bottom:368.919403pt;}
.ye{bottom:369.980611pt;}
.y75{bottom:373.510020pt;}
.y4c{bottom:377.111165pt;}
.y8d{bottom:383.313944pt;}
.y3d{bottom:384.400218pt;}
.y2a{bottom:388.100606pt;}
.y66{bottom:388.811971pt;}
.y2{bottom:388.983103pt;}
.yd{bottom:390.780609pt;}
.y7{bottom:396.753123pt;}
.y58{bottom:397.079407pt;}
.y74{bottom:400.710022pt;}
.y82{bottom:401.815898pt;}
.y1b{bottom:404.113942pt;}
.y4b{bottom:410.551168pt;}
.yc{bottom:411.580607pt;}
.y65{bottom:412.811971pt;}
.y3c{bottom:413.733551pt;}
.y29{bottom:416.793935pt;}
.y81{bottom:419.415899pt;}
.y1a{bottom:424.913935pt;}
.y57{bottom:425.239405pt;}
.y73{bottom:427.910014pt;}
.y3b{bottom:429.733551pt;}
.y28{bottom:432.153941pt;}
.y6{bottom:435.153117pt;}
.y64{bottom:436.811971pt;}
.y80{bottom:437.015900pt;}
.y4a{bottom:443.991165pt;}
.yb{bottom:445.713933pt;}
.y3a{bottom:445.733551pt;}
.y56{bottom:453.399409pt;}
.y72{bottom:455.110011pt;}
.y63{bottom:460.811971pt;}
.y27{bottom:460.847280pt;}
.ya{bottom:466.513936pt;}
.y7f{bottom:472.215902pt;}
.y5{bottom:473.553118pt;}
.y39{bottom:475.066889pt;}
.y26{bottom:476.207280pt;}
.y49{bottom:477.431168pt;}
.y55{bottom:481.559413pt;}
.y71{bottom:482.310006pt;}
.y1{bottom:484.023102pt;}
.y62{bottom:484.811971pt;}
.y9{bottom:487.313938pt;}
.y7e{bottom:489.815904pt;}
.y38{bottom:491.066888pt;}
.y25{bottom:491.567281pt;}
.y8{bottom:547.318858pt;}
.y4{bottom:593.398857pt;}
.h6{height:31.083333pt;}
.h7{height:33.003906pt;}
.h9{height:38.854167pt;}
.ha{height:40.769531pt;}
.h5{height:50.510417pt;}
.hd{height:58.281250pt;}
.hc{height:62.166667pt;}
.he{height:66.052083pt;}
.h2{height:69.937500pt;}
.hb{height:73.822917pt;}
.h4{height:77.708333pt;}
.h8{height:124.250000pt;}
.h3{height:124.333333pt;}
.h1{height:256.437500pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2{left:161.995199pt;}
.x3{left:209.995199pt;}
.x1{left:263.433472pt;}
.x4{left:534.821940pt;}
}
